# Testing a base model

Currently i've chosen keras, as it would be quick to try things out + exam comming up (using keras) on 13th of January

In [30]:
%pip install scikit-learn keras 'tensorflow[and-cuda]' opencv-python python-dotenv pandas sqlalchemy PyMySQL matplotlib scikit-image 
#imgaugP

Requirement already satisfied: scikit-learn in ./.venv/lib/python3.12/site-packages (1.6.0)
Requirement already satisfied: keras in ./.venv/lib/python3.12/site-packages (3.7.0)
Requirement already satisfied: opencv-python in ./.venv/lib/python3.12/site-packages (4.10.0.84)
Requirement already satisfied: python-dotenv in ./.venv/lib/python3.12/site-packages (1.0.1)
Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.12/site-packages (2.0.36)
Requirement already satisfied: PyMySQL in ./.venv/lib/python3.12/site-packages (1.1.1)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.12/site-packages (3.10.0)
Requirement already satisfied: scikit-image in ./.venv/lib/python3.12/site-packages (0.25.2)
Requirement already satisfied: tensorflow[and-cuda] in ./.venv/lib/python3.12/site-packages (2.18.0)
Requirement already satisfied: numpy>=1.19.5 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (1.15.0)
Requirement already satisfied: joblib>=1.2.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: absl-py in ./.venv/lib/python3.12/site-packages (from keras) (2.1.0)
Requirement already satisfied: rich in ./.venv/lib/python3.12/site-packages (from keras) (13.9.4)
Requirement already satisfied: namex in ./.venv/lib/python3.12/site-packages (from keras) (0.0.8)
Requirement already satisfied: h5py in ./.venv/lib/python3.12/site-packages (from keras) (3.12.1)
Requirement already satisfied: optree in ./.venv/lib/python3.12/site-packages (from keras) (0.13.1)
Requirement already satisfied: ml-dtypes in ./.venv/lib/python3.12/site-packages (from keras) (0.4.1)
Requirement already satisfied: packaging in ./.venv/lib/python3.12/site-packages (from keras) (24.2)
Requirement already satisfied: astunparse>=1.6.0 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (24.12.23)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (3.4.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (5.29.2)
Requirement already satisfied: requests<3,>=2.21.0 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (2.32.3)
Requirement already satisfied: setuptools in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (75.7.0)
Requirement already satisfied: six>=1.12.0 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (1.17.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (1.69.0)
Requirement already satisfied: tensorboard<2.19,>=2.18 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (2.18.0)
Requirement already satisfied: nvidia-cublas-cu12==12.5.3.2 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.3.2)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.5.82 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: nvidia-cuda-nvcc-cu12==12.5.82 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.5.82 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.5.82 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: nvidia-cudnn-cu12==9.3.0.75 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (9.3.0.75)
Requirement already satisfied: nvidia-cufft-cu12==11.2.3.61 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (11.2.3.61)
Requirement already satisfied: nvidia-curand-cu12==10.3.6.82 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (10.3.6.82)
Requirement already satisfied: nvidia-cusolver-cu12==11.6.3.83 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (11.6.3.83)
Requirement already satisfied: nvidia-cusparse-cu12==12.5.1.3 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.1.3)
Requirement already satisfied: nvidia-nccl-cu12==2.21.5 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (2.21.5)
Requirement already satisfied: nvidia-nvjitlink-cu12==12.5.82 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: greenlet!=0.4.17 in ./.venv/lib/python3.12/site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.12/site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.12/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: networkx>=3.0 in ./.venv/lib/python3.12/site-packages (from scikit-image) (3.4.2)
Requirement already satisfied: imageio!=2.35.0,>=2.33 in ./.venv/lib/python3.12/site-packages (from scikit-image) (2.37.0)
Requirement already satisfied: tifffile>=2022.8.12 in ./.venv/lib/python3.12/site-packages (from scikit-image) (2025.2.18)
Requirement already satisfied: lazy-loader>=0.4 in ./.venv/lib/python3.12/site-packages (from scikit-image) (0.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in ./.venv/lib/python3.12/site-packages (from astunparse>=1.6.0->tensorflow[and-cuda]) (0.45.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow[and-cuda]) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow[and-cuda]) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow[and-cuda]) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow[and-cuda]) (2024.12.14)
Requirement already satisfied: markdown>=2.6.8 in ./.venv/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow[and-cuda]) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in ./.venv/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow[and-cuda]) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in ./.venv/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow[and-cuda]) (3.1.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in ./.venv/lib/python3.12/site-packages (from rich->keras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in ./.venv/lib/python3.12/site-packages (from rich->keras) (2.19.0)
Requirement already satisfied: mdurl~=0.1 in ./.venv/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich->keras) (0.1.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in ./.venv/lib/python3.12/site-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow[and-cuda]) (3.0.2)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import tensorflow as tf
print(tf.config.list_physical_devices('GPU'))

2025-02-26 13:38:46.391482: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-02-26 13:38:46.402573: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1740573526.416852  390788 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1740573526.421644  390788 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-02-26 13:38:46.437228: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

[]

2025-02-26 13:38:50.409915: E external/local_xla/xla/stream_executor/cuda/cuda_driver.cc:152] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: CUDA_ERROR_UNKNOWN: unknown error
2025-02-26 13:38:50.409945: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:137] retrieving CUDA diagnostic information for host: miked-Nitro-ANV15-51
2025-02-26 13:38:50.409952: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:144] hostname: miked-Nitro-ANV15-51
2025-02-26 13:38:50.410084: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:168] libcuda reported version is: 550.120.0
2025-02-26 13:38:50.410100: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:172] kernel reported version is: 550.120.0
2025-02-26 13:38:50.410104: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:259] kernel version seems to match DSO: 550.120.0

In [2]:
import keras
import numpy as np
import pandas as pd
import sys

In [3]:
from FrameLoader import FrameLoader
from DataRepository import DataRepository
from DataGeneratorSkills import DataGeneratorSkills
from helpers import plot

In [4]:
import os
import psutil

def process_memory():
    "Returns megabytes"
    process = psutil.Process(os.getpid())
    mem_info = process.memory_info()
    return mem_info.rss / 1024 / 1024 / 1024

print(f"Current memory usage: {process_memory()} gigabytes")

Current memory usage: 0.5736007690429688 gigabytes

In [5]:
repo = DataRepository()
frameloader = FrameLoader(repo)
repo.VideoNames.head()

connection established, loading frame paths
rel paths of framelabels loaded

      folderId    id                                               name
id
2214        16  2214  free-vids/DD3/2011-brewsterbayside-dd3-junsen-...
2215        16  2215  free-vids/DD3/2011-brewsterbayside-dd3-junsen-...
1084         5  1084  competition/belgium/SR1/2011-brewsterbayside-s...
1085         5  1085  competition/belgium/SR1/2011-brewsterbayside-s...
1086         5  1086  competition/belgium/SR1/2011-brewsterbayside-s...

In [6]:
%%time

train_gen = DataGeneratorSkills(
    frameloader=frameloader,
    train_test_val="train",
    dim=(224,224),
    batch_size=1
)

connection established, loading frame paths
rel paths of framelabels loaded
DataGeneratorSkills init done

/home/miked/code/judge/computervision/DataGeneratorSkills.py:126: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  balanced_skills = pd.concat(extra_skills, ignore_index=True)
/home/miked/code/judge/computervision/DataGeneratorSkills.py:126: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  balanced_skills = pd.concat(extra_skills, ignore_index=True)
/home/miked/code/judge/computervision/DataGeneratorSkills.py:126: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  balanced_skills = pd.concat(extra_skills, ignore_index=True)
/home/miked/code/judge/computervision/DataGeneratorSkills.py:126: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  balanced_skills = pd.concat(extra_skills, ignore_index=True)
/home/miked/code/judge/computervision/DataGeneratorSkills.py:126: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  balanced_skills = pd.concat(extra_skills, ignore_index=True)

CPU times: user 8.02 s, sys: 521 ms, total: 8.54 s
Wall time: 9.68 s

In [7]:
train_gen.Skills

,id,videoId,frameStart,frameEnd,type,rotations,turner1,turner2,skill,hands,feet,turntable,bodyRotations,backwards,sloppy,hard2see,fault,labeldate
719,885,1354,639,669,1,4,3,3,5,2,2,0,0,0,0,0,0,NaT
1107,1273,1304,1737,1749,3,1,1,1,1,0,2,0,0,0,0,0,0,NaT
1098,1264,1304,1554,1566,3,1,3,3,1,0,2,0,0,0,0,0,0,NaT
841,1007,1268,1177,1192,1,1,3,3,7,1,0,0,0,0,0,0,0,NaT
659,825,1243,1186,1198,1,1,3,3,1,0,2,0,0,0,0,0,1,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1161,1327,1396,2761,2806,4,1,1,1,1,0,2,0,0,0,0,0,0,NaT
1085,1251,1304,1249,1263,1,2,3,6,4,2,2,0,0,0,0,0,0,NaT
114,197,2216,1019,1050,1,2,1,1,4,2,1,0,0,0,0,0,0,NaT
314,478,1184,486,499,1,1,3,3,2,0,0,0,0,0,0,0,0,NaT
475,640,1270,2175,2205,5,1,1,1,1,0,1,0,0,0,0,0,0,NaT

In [8]:
train_gen.BalancedSkills7

,id,videoId,frameStart,frameEnd,type,rotations,turner1,turner2,skill,hands,feet,turntable,bodyRotations,backwards,sloppy,hard2see,fault,labeldate
14488,1471,1396,4064,4471,5,8,21,21,7,2,1,0,0,0,0,0,0,2025-02-26
6811,676,1162,545,569,1,4,3,3,5,2,2,0,0,0,0,0,0,NaT
4159,1335,667,199,212,1,1,3,3,2,0,0,0,0,0,0,0,0,NaT
221,118,1178,615,637,1,2,1,1,15,0,2,0,0,1,0,0,0,NaT
26029,957,1354,2311,2324,1,0,1,1,2,0,2,0,0,0,0,0,1,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27510,1311,1396,2226,2257,6,2,1,1,2,0,0,0,0,0,0,0,0,NaT
17353,1372,667,953,968,4,1,7,7,2,0,0,0,0,0,0,0,0,NaT
21112,800,1243,580,594,4,1,9,7,3,2,2,1,0,0,0,0,0,NaT
30158,821,1243,1111,1149,5,1,5,1,1,0,2,0,0,0,0,0,0,NaT
7306,179,1178,1728,1738,4,1,1,1,3,2,0,0,0,0,0,0,0,NaT

## Pre balance - balanced comparison

1 mostly means normal (normal jump, normal turning, DD...)

In [9]:
total_accuracy = 0
metrics = 0
def get_df_spec_balance_comparison(col, gen):
    df = pd.concat([
        gen.Skills[col].value_counts(normalize=False), 
        gen.BalancedSkills3[col].value_counts(normalize=False),
        gen.BalancedSkills5[col].value_counts(normalize=False),
        gen.BalancedSkills7[col].value_counts(normalize=False),
        gen.BalancedSkills10[col].value_counts(normalize=False),
        gen.BalancedSkills12[col].value_counts(normalize=False),
        gen.Skills[col].value_counts(normalize=True),
        gen.BalancedSkills3[col].value_counts(normalize=True),
        gen.BalancedSkills5[col].value_counts(normalize=True),
        gen.BalancedSkills7[col].value_counts(normalize=True),
        gen.BalancedSkills10[col].value_counts(normalize=True),
        gen.BalancedSkills12[col].value_counts(normalize=True),
        ], axis=1)
    df.columns = ["normal", "n3", "n5", "n7", "n10", "n12", "percentage", "c3", "c5", "c7", "c10", "c12"]
    return df

In [10]:
col = 'type' # DD, CW, SD, snapperlike, transition
df = get_df_spec_balance_comparison(col, train_gen)
metrics +=1
total_accuracy += df["c7"].max()
df

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
type,,,,,,,,,,,,
1,999,5675,10290,18963,36776,53291,0.742199,0.651924,0.593905,0.584214,0.577259,0.577173
4,148,1280,2859,5307,10490,15260,0.109955,0.147042,0.165012,0.163499,0.164657,0.165275
6,61,601,1421,2780,5521,7972,0.045319,0.069041,0.082015,0.085647,0.086661,0.086342
5,58,365,897,1773,3612,5236,0.043091,0.041930,0.051772,0.054623,0.056696,0.056709
3,51,586,1326,2616,5239,7577,0.037890,0.067318,0.076532,0.080594,0.082235,0.082063
2,29,198,533,1020,2070,2995,0.021545,0.022746,0.030763,0.031424,0.032492,0.032438

In [11]:
col = 'rotations'
df = get_df_spec_balance_comparison(col, train_gen)
metrics +=1
total_accuracy += df["c7"].max()
df

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
rotations,,,,,,,,,,,,
1,1052,5469,10146,18902,36920,53641,0.781575,0.628260,0.585594,0.582335,0.579519,0.580964
2,180,1936,4174,7828,15369,22174,0.133730,0.222401,0.240910,0.241166,0.241241,0.240158
0,55,491,1178,2266,4576,6626,0.040862,0.056404,0.067990,0.069811,0.071828,0.071764
3,31,386,836,1561,3087,4468,0.023031,0.044342,0.048251,0.048091,0.048455,0.048391
4,19,266,601,1143,2232,3227,0.014116,0.030557,0.034688,0.035214,0.035035,0.034950
6,4,68,181,355,709,1021,0.002972,0.007812,0.010447,0.010937,0.011129,0.011058
8,2,45,112,219,442,637,0.001486,0.005169,0.006464,0.006747,0.006938,0.006899
5,2,33,68,126,252,362,0.001486,0.003791,0.003925,0.003882,0.003956,0.003921
7,1,11,30,59,121,175,0.000743,0.001264,0.001732,0.001818,0.001899,0.001895

In [12]:
col = 'turner1'
df = get_df_spec_balance_comparison(col, train_gen)
metrics +=1
total_accuracy += df["c7"].max()
df

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
turner1,,,,,,,,,,,,
1,995,4100,8119,15205,29706,43108,0.739227,0.470994,0.468602,0.468437,0.466284,0.466885
3,189,2218,3619,6649,12992,18865,0.140416,0.254796,0.208877,0.204843,0.203930,0.204319
2,81,1008,2326,4358,8545,12356,0.060178,0.115796,0.134249,0.134262,0.134128,0.133823
7,23,343,799,1511,3035,4382,0.017088,0.039403,0.046116,0.046551,0.047639,0.047460
6,11,158,345,654,1305,1890,0.008172,0.018150,0.019912,0.020148,0.020484,0.020470
4,7,90,215,404,783,1133,0.005201,0.010339,0.012409,0.012446,0.012290,0.012271
9,6,115,271,516,1028,1490,0.004458,0.013211,0.015641,0.015897,0.016136,0.016138
10,5,103,248,477,953,1374,0.003715,0.011832,0.014314,0.014695,0.014959,0.014881
5,4,49,115,223,442,639,0.002972,0.005629,0.006637,0.006870,0.006938,0.006921
12,4,87,201,395,778,1121,0.002972,0.009994,0.011601,0.012169,0.012212,0.012141
18,4,95,231,461,932,1340,0.002972,0.010913,0.013333,0.014203,0.014629,0.014513
22,4,98,241,455,908,1309,0.002972,0.011258,0.013910,0.014018,0.014253,0.014177
14,3,35,98,192,395,569,0.002229,0.004021,0.005656,0.005915,0.006200,0.006163
8,3,39,93,176,350,503,0.002229,0.004480,0.005368,0.005422,0.005494,0.005448
11,2,40,89,172,334,487,0.001486,0.004595,0.005137,0.005299,0.005243,0.005275
24,2,49,120,228,452,653,0.001486,0.005629,0.006926,0.007024,0.007095,0.007072
15,1,30,74,144,289,418,0.000743,0.003446,0.004271,0.004436,0.004536,0.004527
21,1,34,83,162,325,469,0.000743,0.003906,0.004790,0.004991,0.005101,0.005080
19,1,14,39,77,156,225,0.000743,0.001608,0.002251,0.002372,0.002449,0.002437

In [13]:
col = 'turner2'
df = get_df_spec_balance_comparison(col, train_gen)
metrics +=1
total_accuracy += df["c7"].max()
df

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
turner2,,,,,,,,,,,,
1,1006,4103,8115,15148,29553,42934,0.747400,0.471338,0.468371,0.466681,0.463882,0.465001
3,174,2027,3316,6078,11858,17214,0.129272,0.232855,0.191389,0.187252,0.186130,0.186438
2,75,966,2157,4044,7918,11423,0.055721,0.110971,0.124495,0.124588,0.124286,0.123718
7,20,338,776,1467,2921,4233,0.014859,0.038828,0.044788,0.045195,0.045850,0.045846
6,17,277,591,1151,2297,3328,0.012630,0.031821,0.034111,0.035460,0.036055,0.036044
18,6,132,302,602,1215,1748,0.004458,0.015164,0.017430,0.018546,0.019071,0.018932
4,6,77,174,340,683,978,0.004458,0.008845,0.010043,0.010475,0.010721,0.010592
12,6,129,304,594,1187,1705,0.004458,0.014819,0.017546,0.018300,0.018632,0.018466
8,6,73,164,318,632,905,0.004458,0.008386,0.009466,0.009797,0.009920,0.009802
22,6,147,361,683,1360,1962,0.004458,0.016887,0.020836,0.021042,0.021347,0.021250
10,4,80,194,369,734,1061,0.002972,0.009190,0.011197,0.011368,0.011521,0.011491
20,3,35,88,173,352,509,0.002229,0.004021,0.005079,0.005330,0.005525,0.005513
11,3,51,112,207,420,606,0.002229,0.005859,0.006464,0.006377,0.006593,0.006563
5,2,39,100,183,362,523,0.001486,0.004480,0.005772,0.005638,0.005682,0.005664
13,2,31,60,111,219,319,0.001486,0.003561,0.003463,0.003420,0.003438,0.003455
16,2,31,78,146,291,420,0.001486,0.003561,0.004502,0.004498,0.004568,0.004549
14,2,27,77,152,310,448,0.001486,0.003102,0.004444,0.004683,0.004866,0.004852
9,2,38,96,186,374,540,0.001486,0.004365,0.005541,0.005730,0.005871,0.005849
17,2,40,104,201,408,588,0.001486,0.004595,0.006003,0.006192,0.006404,0.006368
15,1,30,74,144,289,418,0.000743,0.003446,0.004271,0.004436,0.004536,0.004527
21,1,34,83,162,325,469,0.000743,0.003906,0.004790,0.004991,0.005101,0.005080

In [14]:
col = 'skill'
df = get_df_spec_balance_comparison(col, train_gen)
metrics +=1
total_accuracy += df["c7"].max()
df

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
skill,,,,,,,,,,,,
1,600,1125,2758,5339,10803,15679,0.445765,0.129236,0.159183,0.164484,0.169571,0.169813
3,216,2218,4462,7444,14323,20704,0.160475,0.254796,0.257532,0.229335,0.224823,0.224237
2,181,1327,2155,4177,8317,12055,0.134473,0.152441,0.124380,0.128685,0.130549,0.130563
4,154,1702,2586,5085,9660,14136,0.114413,0.195520,0.149255,0.156659,0.151629,0.153101
7,55,593,1359,2652,5266,7612,0.040862,0.068122,0.078437,0.081703,0.082658,0.082443
5,29,329,765,1476,2866,4136,0.021545,0.037794,0.044153,0.045473,0.044987,0.044795
15,21,270,645,1248,2544,3662,0.015602,0.031017,0.037227,0.038449,0.039932,0.039662
25,16,181,400,795,1593,2318,0.011887,0.020793,0.023087,0.024492,0.025005,0.025105
11,14,138,268,507,966,1394,0.010401,0.015853,0.015468,0.015620,0.015163,0.015098
12,11,149,342,656,1302,1877,0.008172,0.017117,0.019739,0.020210,0.020437,0.020329
20,10,166,339,658,1292,1869,0.007429,0.019070,0.019566,0.020272,0.020280,0.020242
10,9,103,220,424,827,1201,0.006686,0.011832,0.012698,0.013063,0.012981,0.013008
17,6,104,266,522,1033,1485,0.004458,0.011947,0.015353,0.016082,0.016215,0.016083
23,5,84,217,423,839,1210,0.003715,0.009650,0.012525,0.013032,0.013169,0.013105
13,5,43,117,228,460,663,0.003715,0.004940,0.006753,0.007024,0.007220,0.007181
14,4,32,84,161,309,446,0.002972,0.003676,0.004848,0.004960,0.004850,0.004830
18,4,63,166,322,632,911,0.002972,0.007237,0.009581,0.009920,0.009920,0.009867
8,3,47,98,188,363,523,0.002229,0.005399,0.005656,0.005792,0.005698,0.005664
26,1,8,21,41,85,122,0.000743,0.000919,0.001212,0.001263,0.001334,0.001321
24,1,9,24,47,97,139,0.000743,0.001034,0.001385,0.001448,0.001523,0.001505
19,1,14,34,66,131,189,0.000743,0.001608,0.001962,0.002033,0.002056,0.002047

In [15]:
col = 'hands'
df = get_df_spec_balance_comparison(col, train_gen)
metrics +=1
total_accuracy += df["c7"].max()
df

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
hands,,,,,,,,,,,,
0,829,2998,6261,12133,24475,35456,0.615899,0.344400,0.361364,0.373795,0.384175,0.384010
2,379,4247,8100,14677,27857,40370,0.281575,0.487881,0.467505,0.452170,0.437261,0.437231
1,138,1460,2965,5649,11376,16505,0.102526,0.167720,0.171130,0.174035,0.178565,0.178759

In [16]:
col = 'feet'
df = get_df_spec_balance_comparison(col, train_gen)
metrics +=1
total_accuracy += df["c7"].max()
df

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
feet,,,,,,,,,,,,
2,959,4887,10391,19254,38059,55025,0.712481,0.561401,0.599735,0.593179,0.597398,0.595954
1,219,2193,3798,7307,14178,20694,0.162704,0.251924,0.219208,0.225115,0.222547,0.224128
0,168,1625,3137,5898,11471,16612,0.124814,0.186674,0.181057,0.181706,0.180056,0.179918

In [17]:
col = 'bodyRotations'
df = get_df_spec_balance_comparison(col, train_gen)
metrics +=1
total_accuracy += df["c7"].max()
df

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
bodyRotations,,,,,,,,,,,,
0,1335,8542,16911,31643,62059,89953,0.991828,0.981275,0.976048,0.974861,0.974116,0.974245
1,6,76,202,394,800,1151,0.004458,0.008731,0.011659,0.012138,0.012557,0.012466
2,5,87,213,422,849,1227,0.003715,0.009994,0.012294,0.013001,0.013326,0.013289

In [18]:
col = 'turntable'
df = get_df_spec_balance_comparison(col, train_gen)
metrics +=1
total_accuracy += df["c7"].max()
df

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
turntable,,,,,,,,,,,,
0,1295,7880,15423,28994,56856,82460,0.962110,0.905227,0.890165,0.893250,0.892447,0.893091
1,35,527,1225,2232,4429,6367,0.026003,0.060540,0.070703,0.068764,0.069520,0.068958
2,16,298,678,1233,2423,3504,0.011887,0.034233,0.039132,0.037986,0.038033,0.037950

In [19]:
col = 'sloppy'
df = get_df_spec_balance_comparison(col, train_gen)
metrics +=1
total_accuracy += df["c7"].max()
df

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
sloppy,,,,,,,,,,,,
0,1289,7893,15547,29206,57248,83022,0.957652,0.90672,0.897322,0.899781,0.8986,0.899178
1,57,812,1779,3253,6460,9309,0.042348,0.09328,0.102678,0.100219,0.1014,0.100822

In [20]:
col = 'backwards'
df = get_df_spec_balance_comparison(col, train_gen)
metrics +=1
total_accuracy += df["c7"].max()
df

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
backwards,,,,,,,,,,,,
0,1324,8374,16481,30812,60393,87562,0.983655,0.961976,0.951229,0.949259,0.947966,0.948349
1,22,331,845,1647,3315,4769,0.016345,0.038024,0.048771,0.050741,0.052034,0.051651

In [21]:
col = 'hard2see'
df = get_df_spec_balance_comparison(col, train_gen)
metrics +=1
total_accuracy += df["c7"].max()
df

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
hard2see,,,,,,,,,,,,
0,1298,8041,15773,29567,57919,84033,0.964339,0.923722,0.910366,0.910903,0.909132,0.910128
1,48,664,1553,2892,5789,8298,0.035661,0.076278,0.089634,0.089097,0.090868,0.089872

In [22]:
col = 'fault'
df = get_df_spec_balance_comparison(col, train_gen)
metrics +=1
total_accuracy += df["c7"].max()
df

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
fault,,,,,,,,,,,,
0,1307,8261,16267,30429,59618,86449,0.971025,0.948995,0.938878,0.93746,0.935801,0.936294
1,39,444,1059,2030,4090,5882,0.028975,0.051005,0.061122,0.06254,0.064199,0.063706

In [23]:
print(f"minimum train accuracy = {(100*total_accuracy / metrics):.3f}%")

minimum train accuracy = 68.784%

## Skill balance function

In [24]:
col = 'turner2'
series_normalized_occurances = train_gen.Skills[col].value_counts(normalize=True)
max_occurance_percentage = series_normalized_occurances.iloc[0]

def get_multiplier(occurance_percentage: float, max_occurance_percentage: float, N = 10):
    """Calculate how many times more a skill needs to be added
    Returns a number in the interval [1, N["""
    assert isinstance(occurance_percentage, (int, float))
    assert isinstance(max_occurance_percentage, (int, float))
    assert occurance_percentage > 0 and occurance_percentage <= 1
    assert max_occurance_percentage > 0 and max_occurance_percentage <= 1
    assert max_occurance_percentage >= occurance_percentage, f"got {max_occurance_percentage} and {occurance_percentage}"

    multiplier = N * np.pow(1 - (np.sqrt(occurance_percentage / max_occurance_percentage)), 2)
    multiplier = multiplier if multiplier >= 1 else multiplier + 1
    multiplier_squared = multiplier * multiplier
    return multiplier_squared

for index, value in series_normalized_occurances.items():
    n3 = value * get_multiplier(value, max_occurance_percentage, N=3)
    n5 = value * get_multiplier(value, max_occurance_percentage, N=5)
    n7 = value * get_multiplier(value, max_occurance_percentage, N=7)
    n10 = value * get_multiplier(value, max_occurance_percentage, N=10)
    
    print(f"{index:2d} - {value:.3f} - {n3:.3f} - {n5:.3f} - {n7:.3f} - {n10:.3f}")

 1 - 0.747 - 0.747 - 0.747 - 0.747 - 0.747
 3 - 0.129 - 0.135 - 0.376 - 0.737 - 1.505
 2 - 0.056 - 0.140 - 0.389 - 0.763 - 1.556
 7 - 0.015 - 0.073 - 0.202 - 0.396 - 0.809
 6 - 0.013 - 0.065 - 0.181 - 0.355 - 0.724
18 - 0.004 - 0.029 - 0.081 - 0.158 - 0.323
 4 - 0.004 - 0.029 - 0.081 - 0.158 - 0.323
12 - 0.004 - 0.029 - 0.081 - 0.158 - 0.323
 8 - 0.004 - 0.029 - 0.081 - 0.158 - 0.323
22 - 0.004 - 0.029 - 0.081 - 0.158 - 0.323
10 - 0.003 - 0.021 - 0.057 - 0.112 - 0.229
20 - 0.002 - 0.016 - 0.045 - 0.087 - 0.178
11 - 0.002 - 0.016 - 0.045 - 0.087 - 0.178
 5 - 0.001 - 0.011 - 0.031 - 0.061 - 0.124
13 - 0.001 - 0.011 - 0.031 - 0.061 - 0.124
16 - 0.001 - 0.011 - 0.031 - 0.061 - 0.124
14 - 0.001 - 0.011 - 0.031 - 0.061 - 0.124
 9 - 0.001 - 0.011 - 0.031 - 0.061 - 0.124
17 - 0.001 - 0.011 - 0.031 - 0.061 - 0.124
15 - 0.001 - 0.006 - 0.016 - 0.032 - 0.065
21 - 0.001 - 0.006 - 0.016 - 0.032 - 0.065

In [25]:
max_occurance_percentage

np.float64(0.7473997028231798)

## Apply

In [26]:
info_columns = [
    'type', 'rotations', 'turner1', 'turner2', 'skill', 'turntable',
    'bodyRotations', 'hands', 'feet', 'sloppy', 'hard2see', 'fault',
    'backwards'
]

In [27]:
N = 7
balanced_skills = pd.DataFrame(columns=train_gen.Skills.columns)
for col in info_columns:
    series_normalized_occurances = train_gen.Skills[col].value_counts(normalize=True)
    max_occurance_percentage = series_normalized_occurances.iloc[0]

    for index, value in series_normalized_occurances.items():
        if value == max_occurance_percentage:
            continue
        rounded_multiplier = int(np.round(get_multiplier(value, max_occurance_percentage, N=7)))
        extra_skills = [train_gen.Skills[train_gen.Skills[col] == index] for _ in range(rounded_multiplier)]
        extra_skills.append(balanced_skills)
        balanced_skills = pd.concat(extra_skills, ignore_index=True)

/tmp/ipykernel_390788/2154607191.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  balanced_skills = pd.concat(extra_skills, ignore_index=True)

In [28]:
len(balanced_skills)

32459

In [29]:
balanced_skills["turntable"].value_counts(normalize=True)

turntable
0    0.893250
1    0.068764
2    0.037986
Name: proportion, dtype: float64