# Testing a base model

Currently i've chosen keras, as it would be quick to try things out + exam comming up (using keras) on 13th of January

In [1]:
%pip install scikit-learn keras 'tensorflow[and-cuda]' opencv-python python-dotenv pandas sqlalchemy PyMySQL matplotlib scikit-image 
#imgaugP

Requirement already satisfied: scikit-learn in ./.venv/lib/python3.12/site-packages (1.6.0)
Requirement already satisfied: keras in ./.venv/lib/python3.12/site-packages (3.7.0)
Requirement already satisfied: opencv-python in ./.venv/lib/python3.12/site-packages (4.10.0.84)
Requirement already satisfied: python-dotenv in ./.venv/lib/python3.12/site-packages (1.0.1)
Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.12/site-packages (2.0.36)
Requirement already satisfied: PyMySQL in ./.venv/lib/python3.12/site-packages (1.1.1)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.12/site-packages (3.10.0)
Requirement already satisfied: scikit-image in ./.venv/lib/python3.12/site-packages (0.25.2)
Requirement already satisfied: tensorflow[and-cuda] in ./.venv/lib/python3.12/site-packages (2.18.0)
Requirement already satisfied: numpy>=1.19.5 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (1.15.0)
Requirement already satisfied: joblib>=1.2.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: absl-py in ./.venv/lib/python3.12/site-packages (from keras) (2.1.0)
Requirement already satisfied: rich in ./.venv/lib/python3.12/site-packages (from keras) (13.9.4)
Requirement already satisfied: namex in ./.venv/lib/python3.12/site-packages (from keras) (0.0.8)
Requirement already satisfied: h5py in ./.venv/lib/python3.12/site-packages (from keras) (3.12.1)
Requirement already satisfied: optree in ./.venv/lib/python3.12/site-packages (from keras) (0.13.1)
Requirement already satisfied: ml-dtypes in ./.venv/lib/python3.12/site-packages (from keras) (0.4.1)
Requirement already satisfied: packaging in ./.venv/lib/python3.12/site-packages (from keras) (24.2)
Requirement already satisfied: astunparse>=1.6.0 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (24.12.23)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (3.4.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (5.29.2)
Requirement already satisfied: requests<3,>=2.21.0 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (2.32.3)
Requirement already satisfied: setuptools in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (75.7.0)
Requirement already satisfied: six>=1.12.0 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (1.17.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (1.69.0)
Requirement already satisfied: tensorboard<2.19,>=2.18 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (2.18.0)
Requirement already satisfied: nvidia-cublas-cu12==12.5.3.2 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.3.2)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.5.82 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: nvidia-cuda-nvcc-cu12==12.5.82 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.5.82 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.5.82 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: nvidia-cudnn-cu12==9.3.0.75 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (9.3.0.75)
Requirement already satisfied: nvidia-cufft-cu12==11.2.3.61 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (11.2.3.61)
Requirement already satisfied: nvidia-curand-cu12==10.3.6.82 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (10.3.6.82)
Requirement already satisfied: nvidia-cusolver-cu12==11.6.3.83 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (11.6.3.83)
Requirement already satisfied: nvidia-cusparse-cu12==12.5.1.3 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.1.3)
Requirement already satisfied: nvidia-nccl-cu12==2.21.5 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (2.21.5)
Requirement already satisfied: nvidia-nvjitlink-cu12==12.5.82 in ./.venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: greenlet!=0.4.17 in ./.venv/lib/python3.12/site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.12/site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.12/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: networkx>=3.0 in ./.venv/lib/python3.12/site-packages (from scikit-image) (3.4.2)
Requirement already satisfied: imageio!=2.35.0,>=2.33 in ./.venv/lib/python3.12/site-packages (from scikit-image) (2.37.0)
Requirement already satisfied: tifffile>=2022.8.12 in ./.venv/lib/python3.12/site-packages (from scikit-image) (2025.2.18)
Requirement already satisfied: lazy-loader>=0.4 in ./.venv/lib/python3.12/site-packages (from scikit-image) (0.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in ./.venv/lib/python3.12/site-packages (from astunparse>=1.6.0->tensorflow[and-cuda]) (0.45.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow[and-cuda]) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow[and-cuda]) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow[and-cuda]) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow[and-cuda]) (2024.12.14)
Requirement already satisfied: markdown>=2.6.8 in ./.venv/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow[and-cuda]) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in ./.venv/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow[and-cuda]) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in ./.venv/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow[and-cuda]) (3.1.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in ./.venv/lib/python3.12/site-packages (from rich->keras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in ./.venv/lib/python3.12/site-packages (from rich->keras) (2.19.0)
Requirement already satisfied: mdurl~=0.1 in ./.venv/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich->keras) (0.1.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in ./.venv/lib/python3.12/site-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow[and-cuda]) (3.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import tensorflow as tf
print(tf.config.list_physical_devices('GPU'))

2025-02-23 13:13:49.407529: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-02-23 13:13:49.539379: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1740312829.612572   16808 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1740312829.632180   16808 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-02-23 13:13:49.770298: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [3]:
import keras
import numpy as np
import pandas as pd
import sys

In [4]:
from FrameLoader import FrameLoader
from DataRepository import DataRepository
from DataGeneratorSkills import DataGeneratorSkills
from helpers import plot

In [5]:
import os
import psutil

def process_memory():
    "Returns megabytes"
    process = psutil.Process(os.getpid())
    mem_info = process.memory_info()
    return mem_info.rss / 1024 / 1024 / 1024

print(f"Current memory usage: {process_memory()} gigabytes")

Current memory usage: 0.6931648254394531 gigabytes

In [6]:
repo = DataRepository()
frameloader = FrameLoader(repo)
repo.VideoNames.head()

connection established, loading frame paths
rel paths of framelabels loaded

      folderId    id                                               name
id
2214        16  2214  free-vids/DD3/2011-brewsterbayside-dd3-junsen-...
2215        16  2215  free-vids/DD3/2011-brewsterbayside-dd3-junsen-...
1084         5  1084  competition/belgium/SR1/2011-brewsterbayside-s...
1085         5  1085  competition/belgium/SR1/2011-brewsterbayside-s...
1086         5  1086  competition/belgium/SR1/2011-brewsterbayside-s...

In [7]:
%%time

train_gen = DataGeneratorSkills(
    frameloader=frameloader,
    train_test_val="train",
    dim=(224,224),
    batch_size=1
)

connection established, loading frame paths
rel paths of framelabels loaded
DataGeneratorSkills init done
CPU times: user 4.69 s, sys: 301 ms, total: 4.99 s
Wall time: 5.69 s

In [8]:
train_gen.Skills

,id,videoId,frameStart,frameEnd,type,rotations,turner1,turner2,skill,hands,feet,turntable,bodyRotations,backwards,sloppy,hard2see,fault
391,556,1270,236,251,1,1,1,1,1,0,1,0,0,0,0,0,0
574,740,1162,1611,1623,6,0,1,1,2,0,2,0,0,0,0,0,0
555,721,1162,1260,1272,1,1,2,2,3,1,2,1,0,0,1,0,0
33,116,1178,580,595,1,1,1,1,1,0,1,0,0,0,0,0,0
763,929,1354,1831,1851,1,1,1,1,1,0,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,642,1270,2224,2244,1,2,2,2,5,2,2,1,0,0,0,0,0
612,778,1243,287,297,2,0,1,1,1,0,2,0,0,0,0,0,0
934,1100,1202,574,589,1,1,1,1,4,2,1,0,0,0,0,0,0
875,1041,1268,1827,1890,5,1,1,3,1,0,2,0,0,0,0,0,0
476,641,1270,2205,2224,1,1,1,1,5,2,2,0,0,0,0,0,0

In [9]:
train_gen.BalancedSkills7

,id,videoId,frameStart,frameEnd,type,rotations,turner1,turner2,skill,hands,feet,turntable,bodyRotations,backwards,sloppy,hard2see,fault
14379,991,1268,789,801,4,1,1,2,7,1,1,0,0,0,0,0,0
18156,1127,1202,1051,1063,4,1,7,12,2,0,0,0,0,0,0,1,0
24648,1281,1304,1797,1803,3,1,1,1,25,0,1,0,0,0,0,0,0
18696,91,1178,197,212,1,2,2,2,3,2,2,1,0,0,0,0,0
21422,1110,1202,717,742,1,0,1,1,2,0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,1109,1202,703,717,1,2,1,2,3,2,2,2,0,0,0,1,1
22846,1179,1304,103,116,2,1,1,1,1,0,2,0,0,0,0,0,0
21738,530,1184,1803,1818,1,0,3,3,2,1,0,0,0,0,0,0,1
18582,980,1268,543,561,1,2,2,2,5,2,2,0,0,0,0,0,0
1601,1109,1202,703,717,1,2,1,2,3,2,2,2,0,0,0,1,1

## Pre balance - balanced comparison

1 mostly means normal (normal jump, normal turning, DD...)

In [10]:
def get_df_spec_balance_comparison(col, gen):
    df = pd.concat([
        gen.Skills[col].value_counts(normalize=False), 
        gen.BalancedSkills3[col].value_counts(normalize=False),
        gen.BalancedSkills5[col].value_counts(normalize=False),
        gen.BalancedSkills7[col].value_counts(normalize=False),
        gen.BalancedSkills10[col].value_counts(normalize=False),
        gen.BalancedSkills12[col].value_counts(normalize=False),
        gen.Skills[col].value_counts(normalize=True),
        gen.BalancedSkills3[col].value_counts(normalize=True),
        gen.BalancedSkills5[col].value_counts(normalize=True),
        gen.BalancedSkills7[col].value_counts(normalize=True),
        gen.BalancedSkills10[col].value_counts(normalize=True),
        gen.BalancedSkills12[col].value_counts(normalize=True),
        ], axis=1)
    df.columns = ["normal", "n3", "n5", "n7", "n10", "n12", "percentage", "c3", "c5", "c7", "c10", "c12"]
    return df

In [11]:
col = 'type' # DD, CW, SD, snapperlike, transition
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
type,,,,,,,,,,,,
1,843,5488,8695,15647,31723,44443,0.749333,0.682842,0.606938,0.594898,0.593330,0.589016
4,123,1098,2176,3987,8192,11548,0.109333,0.136618,0.151892,0.151585,0.153219,0.153049
3,51,574,1270,2441,4942,7163,0.045333,0.071420,0.088650,0.092807,0.092433,0.094933
5,45,286,719,1366,2804,4012,0.040000,0.035585,0.050188,0.051935,0.052445,0.053172
6,40,428,1030,2007,4065,5810,0.035556,0.053254,0.071897,0.076306,0.076030,0.077002
2,23,163,436,854,1740,2477,0.020444,0.020281,0.030434,0.032469,0.032544,0.032828

In [12]:
col = 'rotations'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
rotations,,,,,,,,,,,,
1,881,4822,8350,15292,31044,43694,0.783111,0.599975,0.582856,0.581401,0.580631,0.579089
2,159,2252,3682,6642,13618,19222,0.141333,0.280204,0.257015,0.252528,0.254704,0.254755
0,40,391,915,1755,3543,5101,0.035556,0.048650,0.063870,0.066725,0.066266,0.067605
3,22,267,629,1174,2347,3314,0.019556,0.033221,0.043906,0.044635,0.043897,0.043921
4,18,232,551,1052,2131,3006,0.016000,0.028866,0.038462,0.039997,0.039857,0.039839
6,3,51,137,267,539,764,0.002667,0.006346,0.009563,0.010151,0.010081,0.010126
8,1,11,31,60,122,176,0.000889,0.001369,0.002164,0.002281,0.002282,0.002333
7,1,11,31,60,122,176,0.000889,0.001369,0.002164,0.002281,0.002282,0.002333

In [13]:
col = 'turner1'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
turner1,,,,,,,,,,,,
1,834,4060,6845,12463,25288,35515,0.741333,0.505164,0.477803,0.473842,0.472973,0.470690
3,148,1584,2872,5289,10670,15112,0.131556,0.197088,0.200475,0.201087,0.199566,0.200284
2,78,1229,2140,3877,7957,11231,0.069333,0.152918,0.149379,0.147403,0.148824,0.148848
7,17,278,562,1068,2215,3158,0.015111,0.034590,0.039229,0.040605,0.041428,0.041854
6,11,169,334,635,1281,1817,0.009778,0.021028,0.023314,0.024143,0.023959,0.024081
9,6,124,271,503,1026,1456,0.005333,0.015429,0.018917,0.019124,0.019190,0.019297
4,6,91,179,325,665,935,0.005333,0.011323,0.012495,0.012356,0.012438,0.012392
10,5,117,242,456,938,1340,0.004444,0.014558,0.016892,0.017337,0.017544,0.017759
12,4,96,198,374,752,1069,0.003556,0.011945,0.013821,0.014219,0.014065,0.014168
18,4,103,226,435,888,1282,0.003556,0.012816,0.015776,0.016539,0.016609,0.016991
8,3,38,91,169,343,484,0.002667,0.004728,0.006352,0.006425,0.006415,0.006415
5,3,36,96,179,365,520,0.002667,0.004479,0.006701,0.006806,0.006827,0.006892
14,2,25,71,140,288,414,0.001778,0.003111,0.004956,0.005323,0.005387,0.005487
11,2,43,87,170,346,487,0.001778,0.005350,0.006073,0.006463,0.006471,0.006454
15,1,30,74,143,290,411,0.000889,0.003733,0.005165,0.005437,0.005424,0.005447
19,1,14,38,76,154,222,0.000889,0.001742,0.002653,0.002890,0.002880,0.002942

In [14]:
col = 'turner2'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
turner2,,,,,,,,,,,,
1,845,4096,6891,12503,25379,35595,0.751111,0.509643,0.481014,0.475363,0.474675,0.471751
3,132,1412,2550,4709,9478,13399,0.117333,0.175687,0.177998,0.179036,0.177272,0.177581
2,72,1121,1959,3569,7318,10332,0.064000,0.139480,0.136744,0.135693,0.136872,0.136933
6,17,290,582,1105,2231,3189,0.015111,0.036083,0.040625,0.042012,0.041727,0.042265
7,14,264,536,1025,2114,3001,0.012444,0.032848,0.037414,0.038970,0.039539,0.039773
4,6,80,170,316,652,933,0.005333,0.009954,0.011867,0.012014,0.012195,0.012365
8,6,75,163,300,615,877,0.005333,0.009332,0.011378,0.011406,0.011503,0.011623
12,6,141,300,566,1159,1657,0.005333,0.017544,0.020941,0.021519,0.021677,0.021961
18,6,141,295,565,1156,1670,0.005333,0.017544,0.020592,0.021481,0.021621,0.022133
10,4,96,191,352,716,1017,0.003556,0.011945,0.013332,0.013383,0.013392,0.013479
20,3,47,86,162,334,483,0.002667,0.005848,0.006003,0.006159,0.006247,0.006401
11,3,54,112,200,414,592,0.002667,0.006719,0.007818,0.007604,0.007743,0.007846
5,2,42,98,181,366,519,0.001778,0.005226,0.006841,0.006882,0.006845,0.006878
9,2,44,92,178,368,528,0.001778,0.005475,0.006422,0.006768,0.006883,0.006998
13,2,31,58,107,219,310,0.001778,0.003857,0.004049,0.004068,0.004096,0.004109
16,2,34,73,137,280,399,0.001778,0.004230,0.005096,0.005209,0.005237,0.005288
15,1,30,74,143,290,411,0.000889,0.003733,0.005165,0.005437,0.005424,0.005447
17,1,21,45,85,176,253,0.000889,0.002613,0.003141,0.003232,0.003292,0.003353
14,1,18,51,99,201,288,0.000889,0.002240,0.003560,0.003764,0.003759,0.003817

In [15]:
col = 'skill'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
skill,,,,,,,,,,,,
1,488,918,2276,4347,8932,12857,0.433778,0.114222,0.158872,0.165273,0.167059,0.170397
3,182,1991,3543,5762,11597,16020,0.161778,0.247729,0.247313,0.219071,0.216904,0.212318
2,149,1265,1762,3340,6870,9849,0.132444,0.157397,0.122993,0.126987,0.128493,0.130532
4,131,1600,2131,4066,8110,11325,0.116444,0.199079,0.148751,0.154589,0.151685,0.150093
7,52,664,1150,2163,4506,6397,0.046222,0.082618,0.080274,0.082237,0.084278,0.084781
5,29,331,718,1381,2791,3883,0.025778,0.041185,0.050119,0.052506,0.052201,0.051462
25,15,165,372,714,1445,2106,0.013333,0.020530,0.025967,0.027146,0.027027,0.027911
15,14,200,447,845,1749,2508,0.012444,0.024885,0.031202,0.032127,0.032712,0.033239
11,12,130,217,398,799,1090,0.010667,0.016175,0.015147,0.015132,0.014944,0.014446
12,10,137,308,593,1212,1711,0.008889,0.017046,0.021499,0.022546,0.022669,0.022676
20,9,169,321,603,1232,1732,0.008000,0.021028,0.022407,0.022926,0.023043,0.022955
10,8,94,186,357,732,1027,0.007111,0.011696,0.012983,0.013573,0.013691,0.013611
17,5,91,220,428,862,1222,0.004444,0.011323,0.015357,0.016273,0.016122,0.016196
23,5,87,221,431,869,1233,0.004444,0.010825,0.015426,0.016387,0.016253,0.016341
13,4,45,100,195,393,563,0.003556,0.005599,0.006980,0.007414,0.007350,0.007462
14,4,38,80,155,306,429,0.003556,0.004728,0.005584,0.005893,0.005723,0.005686
18,3,45,121,235,475,674,0.002667,0.005599,0.008446,0.008935,0.008884,0.008933
8,3,40,94,177,359,504,0.002667,0.004977,0.006561,0.006730,0.006715,0.006680
19,1,16,35,66,133,187,0.000889,0.001991,0.002443,0.002509,0.002488,0.002478
24,1,11,24,46,94,136,0.000889,0.001369,0.001675,0.001749,0.001758,0.001802

In [16]:
col = 'hands'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
hands,,,,,,,,,,,,
0,675,2628,5097,9702,19955,28745,0.600000,0.326988,0.355787,0.368869,0.373228,0.380966
2,325,3735,6630,11847,23640,32562,0.288889,0.464726,0.462795,0.450422,0.442150,0.431553
1,125,1674,2599,4753,9871,14146,0.111111,0.208287,0.181418,0.180709,0.184622,0.187481

In [17]:
col = 'feet'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
feet,,,,,,,,,,,,
2,794,4244,8574,15776,31934,45147,0.705778,0.528058,0.598492,0.599802,0.597277,0.598346
1,186,2010,3134,5759,11787,16603,0.165333,0.250093,0.218763,0.218957,0.220458,0.220044
0,145,1783,2618,4767,9745,13703,0.128889,0.221849,0.182745,0.181241,0.182265,0.181610

In [18]:
col = 'bodyRotations'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
bodyRotations,,,,,,,,,,,,
0,1114,7856,13932,25541,51892,73204,0.990222,0.977479,0.972498,0.971067,0.970561,0.970193
1,6,79,192,378,774,1105,0.005333,0.009830,0.013402,0.014372,0.014476,0.014645
2,5,102,202,383,800,1144,0.004444,0.012691,0.014100,0.014562,0.014963,0.015162

In [19]:
col = 'turntable'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
turntable,,,,,,,,,,,,
0,1085,7364,12884,23685,48137,67895,0.964444,0.916262,0.899344,0.900502,0.900329,0.899832
1,29,472,1006,1819,3712,5267,0.025778,0.058728,0.070222,0.069158,0.069427,0.069805
2,11,201,436,798,1617,2291,0.009778,0.025009,0.030434,0.030340,0.030244,0.030363

In [20]:
col = 'sloppy'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
sloppy,,,,,,,,,,,,
0,1084,7427,13115,24122,49046,69184,0.963556,0.924101,0.915468,0.917117,0.917331,0.916915
1,41,610,1211,2180,4420,6269,0.036444,0.075899,0.084532,0.082883,0.082669,0.083085

In [21]:
col = 'backwards'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
backwards,,,,,,,,,,,,
0,1108,7761,13630,24960,50743,71584,0.984889,0.965659,0.951417,0.948977,0.94907,0.948723
1,17,276,696,1342,2723,3869,0.015111,0.034341,0.048583,0.051023,0.05093,0.051277

In [22]:
col = 'hard2see'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
hard2see,,,,,,,,,,,,
0,1079,7368,12940,23757,48241,68043,0.959111,0.91676,0.903253,0.903239,0.902274,0.901793
1,46,669,1386,2545,5225,7410,0.040889,0.08324,0.096747,0.096761,0.097726,0.098207

In [23]:
col = 'fault'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
fault,,,,,,,,,,,,
0,1088,7596,13392,24498,49819,70206,0.967111,0.945129,0.934804,0.931412,0.931788,0.93046
1,37,441,934,1804,3647,5247,0.032889,0.054871,0.065196,0.068588,0.068212,0.06954

## Skill balance function

In [24]:
col = 'turner2'
series_normalized_occurances = train_gen.Skills[col].value_counts(normalize=True)
max_occurance_percentage = series_normalized_occurances.iloc[0]

def get_multiplier(occurance_percentage: float, max_occurance_percentage: float, N = 10):
    """Calculate how many times more a skill needs to be added
    Returns a number in the interval [1, N["""
    assert isinstance(occurance_percentage, (int, float))
    assert isinstance(max_occurance_percentage, (int, float))
    assert occurance_percentage > 0 and occurance_percentage <= 1
    assert max_occurance_percentage > 0 and max_occurance_percentage <= 1
    assert max_occurance_percentage >= occurance_percentage, f"got {max_occurance_percentage} and {occurance_percentage}"

    multiplier = N * np.pow(1 - (np.sqrt(occurance_percentage / max_occurance_percentage)), 2)
    multiplier = multiplier if multiplier >= 1 else multiplier + 1
    multiplier_squared = multiplier * multiplier
    return multiplier_squared

for index, value in series_normalized_occurances.items():
    n3 = value * get_multiplier(value, max_occurance_percentage, N=3)
    n5 = value * get_multiplier(value, max_occurance_percentage, N=5)
    n7 = value * get_multiplier(value, max_occurance_percentage, N=7)
    n10 = value * get_multiplier(value, max_occurance_percentage, N=10)
    
    print(f"{index:2d} - {value:.3f} - {n3:.3f} - {n5:.3f} - {n7:.3f} - {n10:.3f}")

 1 - 0.751 - 0.751 - 0.751 - 0.751 - 0.751
 3 - 0.117 - 0.141 - 0.392 - 0.769 - 1.569
 2 - 0.064 - 0.145 - 0.402 - 0.788 - 1.609
 6 - 0.015 - 0.074 - 0.205 - 0.402 - 0.820
 7 - 0.012 - 0.065 - 0.179 - 0.351 - 0.717
 4 - 0.005 - 0.034 - 0.094 - 0.184 - 0.375
 8 - 0.005 - 0.034 - 0.094 - 0.184 - 0.375
12 - 0.005 - 0.034 - 0.094 - 0.184 - 0.375
18 - 0.005 - 0.034 - 0.094 - 0.184 - 0.375
10 - 0.004 - 0.024 - 0.067 - 0.131 - 0.267
20 - 0.003 - 0.019 - 0.052 - 0.102 - 0.209
11 - 0.003 - 0.019 - 0.052 - 0.102 - 0.209
 5 - 0.002 - 0.013 - 0.036 - 0.071 - 0.146
 9 - 0.002 - 0.013 - 0.036 - 0.071 - 0.146
13 - 0.002 - 0.013 - 0.036 - 0.071 - 0.146
16 - 0.002 - 0.013 - 0.036 - 0.071 - 0.146
15 - 0.001 - 0.007 - 0.019 - 0.038 - 0.077
17 - 0.001 - 0.007 - 0.019 - 0.038 - 0.077
14 - 0.001 - 0.007 - 0.019 - 0.038 - 0.077

In [25]:
max_occurance_percentage

np.float64(0.7511111111111111)

## Apply

In [26]:
info_columns = [
    'type', 'rotations', 'turner1', 'turner2', 'skill', 'turntable',
    'bodyRotations', 'hands', 'feet', 'sloppy', 'hard2see', 'fault',
    'backwards'
]

In [27]:
N = 7
balanced_skills = pd.DataFrame(columns=train_gen.Skills.columns)
for col in info_columns:
    series_normalized_occurances = train_gen.Skills[col].value_counts(normalize=True)
    max_occurance_percentage = series_normalized_occurances.iloc[0]

    for index, value in series_normalized_occurances.items():
        if value == max_occurance_percentage:
            continue
        rounded_multiplier = int(np.round(get_multiplier(value, max_occurance_percentage, N=7)))
        extra_skills = [train_gen.Skills[train_gen.Skills[col] == index] for _ in range(rounded_multiplier)]
        extra_skills.append(balanced_skills)
        balanced_skills = pd.concat(extra_skills, ignore_index=True)

In [28]:
len(balanced_skills)

26302

In [29]:
balanced_skills["turntable"].value_counts(normalize=True)

turntable
0    0.900502
1    0.069158
2    0.030340
Name: proportion, dtype: float64