# Testing a base model

Currently i've chosen keras, as it would be quick to try things out + exam comming up (using keras) on 13th of January

In [1]:
%pip install scikit-learn keras 'tensorflow[and-cuda]' opencv-python python-dotenv pandas sqlalchemy PyMySQL matplotlib scikit-image 
#imgaug

Requirement already satisfied: scikit-learn in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (1.6.1)
Requirement already satisfied: keras in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (3.8.0)
Requirement already satisfied: opencv-python in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (4.10.0.84)
Requirement already satisfied: python-dotenv in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (1.0.1)
Requirement already satisfied: pandas in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (2.0.36)
Requirement already satisfied: PyMySQL in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (1.1.1)
Requirement already satisfied: matplotlib in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (3.10.0)
Requirement already satisfied: scikit-image in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (0.25.2)
Requirement already satisfied: tensorflow[and-cuda] in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (2.18.0)
Requirement already satisfied: numpy>=1.19.5 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: absl-py in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from keras) (2.1.0)
Requirement already satisfied: rich in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from keras) (13.9.4)
Requirement already satisfied: namex in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from keras) (0.0.8)
Requirement already satisfied: h5py in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from keras) (3.13.0)
Requirement already satisfied: optree in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from keras) (0.14.0)
Requirement already satisfied: ml-dtypes in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from keras) (0.4.1)
Requirement already satisfied: packaging in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from keras) (24.1)
Requirement already satisfied: astunparse>=1.6.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (3.4.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (5.29.3)
Requirement already satisfied: requests<3,>=2.21.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (2.32.3)
Requirement already satisfied: setuptools in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (75.8.0)
Requirement already satisfied: six>=1.12.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (1.70.0)
Requirement already satisfied: tensorboard<2.19,>=2.18 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (2.18.0)
Requirement already satisfied: nvidia-cublas-cu12==12.5.3.2 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.3.2)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.5.82 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: nvidia-cuda-nvcc-cu12==12.5.82 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.5.82 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.5.82 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: nvidia-cudnn-cu12==9.3.0.75 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (9.3.0.75)
Requirement already satisfied: nvidia-cufft-cu12==11.2.3.61 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (11.2.3.61)
Requirement already satisfied: nvidia-curand-cu12==10.3.6.82 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (10.3.6.82)
Requirement already satisfied: nvidia-cusolver-cu12==11.6.3.83 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (11.6.3.83)
Requirement already satisfied: nvidia-cusparse-cu12==12.5.1.3 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.1.3)
Requirement already satisfied: nvidia-nccl-cu12==2.21.5 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (2.21.5)
Requirement already satisfied: nvidia-nvjitlink-cu12==12.5.82 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorflow[and-cuda]) (12.5.82)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: greenlet!=0.4.17 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: pillow>=8 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: networkx>=3.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from scikit-image) (3.4.2)
Requirement already satisfied: imageio!=2.35.0,>=2.33 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from scikit-image) (2.37.0)
Requirement already satisfied: tifffile>=2022.8.12 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from scikit-image) (2025.2.18)
Requirement already satisfied: lazy-loader>=0.4 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from scikit-image) (0.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from astunparse>=1.6.0->tensorflow[and-cuda]) (0.45.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow[and-cuda]) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow[and-cuda]) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow[and-cuda]) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow[and-cuda]) (2024.8.30)
Requirement already satisfied: markdown>=2.6.8 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow[and-cuda]) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow[and-cuda]) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow[and-cuda]) (3.1.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from rich->keras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from rich->keras) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich->keras) (0.1.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/miked/code/judge/api/venv/lib/python3.12/site-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow[and-cuda]) (3.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import tensorflow as tf
print(tf.config.list_physical_devices('GPU'))

2025-02-21 13:35:45.433702: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-02-21 13:35:45.444181: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1740141345.456461  213565 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1740141345.459967  213565 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-02-21 13:35:45.472898: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

[]

2025-02-21 13:35:48.872091: E external/local_xla/xla/stream_executor/cuda/cuda_driver.cc:152] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: CUDA_ERROR_UNKNOWN: unknown error
2025-02-21 13:35:48.872116: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:137] retrieving CUDA diagnostic information for host: miked-Nitro-ANV15-51
2025-02-21 13:35:48.872120: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:144] hostname: miked-Nitro-ANV15-51
2025-02-21 13:35:48.872246: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:168] libcuda reported version is: 550.120.0
2025-02-21 13:35:48.872259: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:172] kernel reported version is: 550.120.0
2025-02-21 13:35:48.872261: I external/local_xla/xla/stream_executor/cuda/cuda_diagnostics.cc:259] kernel version seems to match DSO: 550.120.0

In [3]:
import keras
import numpy as np
import pandas as pd
import sys

In [4]:
from FrameLoader import FrameLoader
from DataRepository import DataRepository
from DataGeneratorSkills import DataGeneratorSkills
from helpers import plot

In [5]:
import os
import psutil

def process_memory():
    "Returns megabytes"
    process = psutil.Process(os.getpid())
    mem_info = process.memory_info()
    return mem_info.rss / 1024 / 1024 / 1024

print(f"Current memory usage: {process_memory()} gigabytes")

Current memory usage: 0.6171417236328125 gigabytes

In [6]:
repo = DataRepository()
frameloader = FrameLoader(repo)
repo.VideoNames.head()

connection established, loading frame paths
rel paths of framelabels loaded

      folderId    id                                               name
id
2214        16  2214  free-vids/DD3/2011-brewsterbayside-dd3-junsen-...
2215        16  2215  free-vids/DD3/2011-brewsterbayside-dd3-junsen-...
1084         5  1084  competition/belgium/SR1/2011-brewsterbayside-s...
1085         5  1085  competition/belgium/SR1/2011-brewsterbayside-s...
1086         5  1086  competition/belgium/SR1/2011-brewsterbayside-s...

In [7]:
%%time

train_gen = DataGeneratorSkills(
    frameloader=frameloader,
    train_test_val="train",
    dim=(224,224),
    batch_size=1
)

connection established, loading frame paths
rel paths of framelabels loaded
DataGeneratorSkills init done
CPU times: user 5.23 s, sys: 259 ms, total: 5.49 s
Wall time: 6.6 s

In [8]:
train_gen.Skills

,id,videoId,frameStart,frameEnd,type,rotations,turner1,turner2,skill,hands,feet,turntable,bodyRotations,backwards,sloppy,hard2see,fault
120,203,2216,1191,1226,5,1,1,1,1,0,2,0,0,0,0,0,0
56,139,1178,1020,1037,1,2,1,2,4,2,1,0,0,0,0,0,0
150,233,2216,2320,2347,1,1,1,1,3,2,2,0,0,0,0,0,0
169,252,2216,3017,3049,4,1,1,1,1,0,2,0,0,0,0,0,0
604,770,1243,163,176,1,1,3,3,7,1,2,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,502,1184,950,962,1,1,1,1,2,0,0,0,0,0,0,0,0
416,581,1270,681,716,1,6,1,1,5,2,2,0,0,0,0,0,1
776,942,1354,2058,2072,1,1,1,1,2,0,2,0,0,0,0,0,0
76,159,1178,1409,1420,6,0,1,1,1,0,2,0,0,0,0,0,0
562,728,1162,1433,1448,1,1,1,1,1,0,2,0,0,0,0,0,0

In [9]:
train_gen.BalancedSkills7

,id,videoId,frameStart,frameEnd,type,rotations,turner1,turner2,skill,hands,feet,turntable,bodyRotations,backwards,sloppy,hard2see,fault
0,796,1243,534,544,4,1,3,3,12,2,0,0,0,1,0,0,0
1,933,1354,1895,1908,1,0,1,1,12,2,0,0,0,1,0,0,0
2,795,1243,518,534,4,1,3,3,12,2,2,0,0,1,0,0,0
3,934,1354,1908,1932,1,2,2,1,15,2,2,0,0,1,0,0,0
4,495,1184,821,854,6,1,1,1,23,2,2,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17483,405,649,931,951,4,1,1,1,2,0,2,0,0,0,0,0,0
17484,513,1184,1234,1249,4,1,1,1,2,0,2,0,0,0,0,0,0
17485,592,1270,1102,1114,4,1,1,1,1,0,2,0,0,0,0,0,0
17486,790,1243,453,467,4,1,1,1,1,0,2,0,0,0,0,0,0
17487,178,1178,1714,1728,4,1,9,7,4,2,2,0,0,0,0,0,0

## Pre balance - balanced comparison

In [10]:
def get_df_spec_balance_comparison(col, gen):
    df = pd.concat([
        gen.Skills[col].value_counts(normalize=False), 
        gen.BalancedSkills3[col].value_counts(normalize=False),
        gen.BalancedSkills5[col].value_counts(normalize=False),
        gen.BalancedSkills7[col].value_counts(normalize=False),
        gen.BalancedSkills10[col].value_counts(normalize=False),
        gen.BalancedSkills12[col].value_counts(normalize=False),
        gen.Skills[col].value_counts(normalize=True),
        gen.BalancedSkills3[col].value_counts(normalize=True),
        gen.BalancedSkills5[col].value_counts(normalize=True),
        gen.BalancedSkills7[col].value_counts(normalize=True),
        gen.BalancedSkills10[col].value_counts(normalize=True),
        gen.BalancedSkills12[col].value_counts(normalize=True),
        ], axis=1)
    df.columns = ["normal", "n3", "n5", "n7", "n10", "n12", "percentage", "c3", "c5", "c7", "c10", "c12"]
    return df

In [11]:
col = 'type'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
type,,,,,,,,,,,,
1,626,3783,6255,11384,11384,31612,0.789407,0.727780,0.661345,0.650961,0.650961,0.643855
4,97,794,1593,3052,3052,8545,0.122320,0.152751,0.168429,0.174520,0.174520,0.174040
5,28,202,525,1008,1008,2957,0.035309,0.038861,0.055509,0.057640,0.057640,0.060226
6,24,281,715,1343,1343,3927,0.030265,0.054059,0.075597,0.076796,0.076796,0.079983
2,18,138,370,701,701,2057,0.022699,0.026549,0.039120,0.040085,0.040085,0.041896

In [12]:
col = 'rotations'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
rotations,,,,,,,,,,,,
1,612,3048,5516,9891,9891,27707,0.771753,0.586379,0.583210,0.565588,0.565588,0.564320
2,120,1534,2364,4598,4598,12776,0.151324,0.295114,0.249947,0.262923,0.262923,0.260214
0,30,253,642,1193,1193,3484,0.037831,0.048673,0.067879,0.068218,0.068218,0.070960
3,16,177,455,878,878,2495,0.020177,0.034052,0.048107,0.050206,0.050206,0.050817
4,11,131,328,630,630,1769,0.013871,0.025202,0.034680,0.036025,0.036025,0.036030
6,2,33,91,176,176,511,0.002522,0.006349,0.009621,0.010064,0.010064,0.010408
8,1,11,31,61,61,178,0.001261,0.002116,0.003278,0.003488,0.003488,0.003625
7,1,11,31,61,61,178,0.001261,0.002116,0.003278,0.003488,0.003488,0.003625

In [13]:
col = 'turner1'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
turner1,,,,,,,,,,,,
1,596,2703,4721,8370,8370,23497,0.751576,0.520008,0.499154,0.478614,0.478614,0.478573
3,99,980,1830,3498,3498,9718,0.124842,0.188534,0.193487,0.200023,0.200023,0.197931
2,60,883,1505,2937,2937,8164,0.075662,0.169873,0.159125,0.167944,0.167944,0.166280
7,11,165,354,685,685,1991,0.013871,0.031743,0.037429,0.039170,0.039170,0.040552
6,7,101,221,416,416,1192,0.008827,0.019431,0.023366,0.023788,0.023788,0.024278
9,5,101,223,426,426,1221,0.006305,0.019431,0.023578,0.024360,0.024360,0.024869
4,4,50,101,185,185,514,0.005044,0.009619,0.010679,0.010579,0.010579,0.010469
10,3,70,154,297,297,850,0.003783,0.013467,0.016283,0.016983,0.016983,0.017312
5,2,28,75,144,144,408,0.002522,0.005387,0.007930,0.008234,0.008234,0.008310
11,2,41,85,164,164,473,0.002522,0.007888,0.008987,0.009378,0.009378,0.009634
14,2,24,72,139,139,407,0.002522,0.004617,0.007613,0.007948,0.007948,0.008290
15,1,29,71,137,137,401,0.001261,0.005579,0.007507,0.007834,0.007834,0.008167
12,1,23,46,90,90,262,0.001261,0.004425,0.004864,0.005146,0.005146,0.005336

In [14]:
col = 'turner2'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
turner2,,,,,,,,,,,,
1,606,2752,4829,8614,8614,24144,0.764187,0.529434,0.510573,0.492566,0.492566,0.491751
3,95,925,1722,3292,3292,9142,0.119798,0.177953,0.182068,0.188243,0.188243,0.186199
2,55,819,1402,2698,2698,7520,0.069357,0.157561,0.148234,0.154277,0.154277,0.153163
7,10,187,399,768,768,2219,0.012610,0.035975,0.042187,0.043916,0.043916,0.045195
6,5,100,210,402,402,1164,0.006305,0.019238,0.022203,0.022987,0.022987,0.023708
8,3,50,106,196,196,559,0.003783,0.009619,0.011207,0.011208,0.011208,0.011385
10,3,69,139,269,269,758,0.003783,0.013274,0.014697,0.015382,0.015382,0.015439
4,3,41,80,148,148,429,0.003783,0.007888,0.008458,0.008463,0.008463,0.008738
11,3,51,104,200,200,567,0.003783,0.009811,0.010996,0.011436,0.011436,0.011548
13,2,29,56,106,106,300,0.002522,0.005579,0.005921,0.006061,0.006061,0.006110
12,2,45,101,193,193,563,0.002522,0.008657,0.010679,0.011036,0.011036,0.011467
16,1,17,42,82,82,227,0.001261,0.003270,0.004441,0.004689,0.004689,0.004623
5,1,23,55,107,107,302,0.001261,0.004425,0.005815,0.006118,0.006118,0.006151
15,1,29,71,137,137,401,0.001261,0.005579,0.007507,0.007834,0.007834,0.008167
17,1,21,41,83,83,243,0.001261,0.004040,0.004335,0.004746,0.004746,0.004949
9,1,22,50,93,93,268,0.001261,0.004232,0.005287,0.005318,0.005318,0.005458
14,1,18,51,100,100,292,0.001261,0.003463,0.005392,0.005718,0.005718,0.005947

In [15]:
col = 'skill'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
skill,,,,,,,,,,,,
1,317,531,1224,2421,2421,7078,0.399748,0.102155,0.129414,0.138438,0.138438,0.144161
3,149,1442,2504,4663,4663,12042,0.187894,0.277414,0.264749,0.266640,0.266640,0.245265
2,106,715,1335,1994,1994,5698,0.133670,0.137553,0.141150,0.114021,0.114021,0.116054
4,94,955,1222,2302,2302,6534,0.118537,0.183725,0.129203,0.131633,0.131633,0.133081
7,41,475,775,1523,1523,4447,0.051702,0.091381,0.081941,0.087088,0.087088,0.090574
5,23,232,530,1021,1021,2911,0.029004,0.044633,0.056037,0.058383,0.058383,0.059290
11,10,89,159,294,294,857,0.012610,0.017122,0.016811,0.016812,0.016812,0.017455
15,10,155,328,651,651,1910,0.012610,0.029819,0.034680,0.037226,0.037226,0.038902
12,9,111,267,505,505,1475,0.011349,0.021354,0.028230,0.028877,0.028877,0.030042
20,7,129,251,485,485,1407,0.008827,0.024817,0.026538,0.027733,0.027733,0.028657
17,5,84,216,413,413,1199,0.006305,0.016160,0.022838,0.023616,0.023616,0.024421
13,4,44,95,176,176,517,0.005044,0.008465,0.010044,0.010064,0.010064,0.010530
10,4,44,84,154,154,453,0.005044,0.008465,0.008881,0.008806,0.008806,0.009226
23,4,71,180,339,339,992,0.005044,0.013659,0.019032,0.019385,0.019385,0.020204
8,3,38,91,172,172,493,0.003783,0.007311,0.009621,0.009835,0.009835,0.010041
14,3,28,61,113,113,324,0.003783,0.005387,0.006450,0.006462,0.006462,0.006599
18,2,29,80,153,153,446,0.002522,0.005579,0.008458,0.008749,0.008749,0.009084
19,1,15,34,65,65,187,0.001261,0.002886,0.003595,0.003717,0.003717,0.003809
24,1,11,22,44,44,128,0.001261,0.002116,0.002326,0.002516,0.002516,0.002607

In [16]:
col = 'hands'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
hands,,,,,,,,,,,,
0,439,1472,3055,5449,5449,15816,0.553594,0.283186,0.323007,0.311585,0.311585,0.322131
2,254,2585,4760,8811,8811,24152,0.320303,0.497307,0.503278,0.503831,0.503831,0.491914
1,100,1141,1643,3228,3228,9130,0.126103,0.219508,0.173715,0.184584,0.184584,0.185955

In [17]:
col = 'feet'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
feet,,,,,,,,,,,,
2,557,2710,5624,10570,10570,29389,0.702396,0.521354,0.594629,0.604414,0.604414,0.598578
1,130,1289,1901,3536,3536,10191,0.163934,0.247980,0.200994,0.202196,0.202196,0.207564
0,106,1199,1933,3382,3382,9518,0.133670,0.230666,0.204377,0.193390,0.193390,0.193857

In [18]:
col = 'bodyRotations'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
bodyRotations,,,,,,,,,,,,
0,785,5070,9179,16949,16949,47514,0.989912,0.975375,0.970501,0.969179,0.969179,0.967738
2,4,76,143,278,278,817,0.005044,0.014621,0.015119,0.015897,0.015897,0.016640
1,4,52,136,261,261,767,0.005044,0.010004,0.014379,0.014925,0.014925,0.015622

In [19]:
col = 'sloppy'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
sloppy,,,,,,,,,,,,
0,760,4738,8569,15798,15798,44344,0.958386,0.911504,0.906005,0.903362,0.903362,0.903173
1,33,460,889,1690,1690,4754,0.041614,0.088496,0.093995,0.096638,0.096638,0.096827

In [20]:
col = 'backwards'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
backwards,,,,,,,,,,,,
0,778,4953,8842,16309,16309,45661,0.981084,0.952866,0.93487,0.932582,0.932582,0.929997
1,15,245,616,1179,1179,3437,0.018916,0.047134,0.06513,0.067418,0.067418,0.070003

In [21]:
col = 'hard2see'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
hard2see,,,,,,,,,,,,
0,772,4898,8798,16223,16223,45520,0.973518,0.942285,0.930218,0.927665,0.927665,0.927125
1,21,300,660,1265,1265,3578,0.026482,0.057715,0.069782,0.072335,0.072335,0.072875

In [22]:
col = 'fault'
get_df_spec_balance_comparison(col, train_gen)

,normal,n3,n5,n7,n10,n12,percentage,c3,c5,c7,c10,c12
fault,,,,,,,,,,,,
0,764,4892,8767,16196,16196,45372,0.96343,0.941131,0.92694,0.926121,0.926121,0.924111
1,29,306,691,1292,1292,3726,0.03657,0.058869,0.07306,0.073879,0.073879,0.075889

## Skill balance function

In [23]:
col = 'turner2'
series_normalized_occurances = train_gen.Skills[col].value_counts(normalize=True)
max_occurance_percentage = series_normalized_occurances.iloc[0]

def get_multiplier(occurance_percentage: float, max_occurance_percentage: float, N = 10):
    """Calculate how many times more a skill needs to be added
    Returns a number in the interval [1, N["""
    assert isinstance(occurance_percentage, (int, float))
    assert isinstance(max_occurance_percentage, (int, float))
    assert occurance_percentage > 0 and occurance_percentage <= 1
    assert max_occurance_percentage > 0 and max_occurance_percentage <= 1
    assert max_occurance_percentage >= occurance_percentage, f"got {max_occurance_percentage} and {occurance_percentage}"

    multiplier = N * np.pow(1 - (np.sqrt(occurance_percentage / max_occurance_percentage)), 2)
    multiplier = multiplier if multiplier >= 1 else multiplier + 1
    multiplier_squared = multiplier * multiplier
    return multiplier_squared

for index, value in series_normalized_occurances.items():
    n3 = value * get_multiplier(value, max_occurance_percentage, N=3)
    n5 = value * get_multiplier(value, max_occurance_percentage, N=5)
    n7 = value * get_multiplier(value, max_occurance_percentage, N=7)
    n10 = value * get_multiplier(value, max_occurance_percentage, N=10)
    
    print(f"{index:2d} - {value:.3f} - {n3:.3f} - {n5:.3f} - {n7:.3f} - {n10:.3f}")

 1 - 0.764 - 0.764 - 0.764 - 0.764 - 0.764
 3 - 0.120 - 0.144 - 0.399 - 0.782 - 1.595
 2 - 0.069 - 0.149 - 0.413 - 0.810 - 1.653
 7 - 0.013 - 0.065 - 0.182 - 0.357 - 0.728
 6 - 0.006 - 0.039 - 0.108 - 0.211 - 0.431
 8 - 0.004 - 0.025 - 0.071 - 0.138 - 0.283
10 - 0.004 - 0.025 - 0.071 - 0.138 - 0.283
 4 - 0.004 - 0.025 - 0.071 - 0.138 - 0.283
11 - 0.004 - 0.025 - 0.071 - 0.138 - 0.283
13 - 0.003 - 0.018 - 0.050 - 0.098 - 0.199
12 - 0.003 - 0.018 - 0.050 - 0.098 - 0.199
16 - 0.001 - 0.010 - 0.027 - 0.052 - 0.107
 5 - 0.001 - 0.010 - 0.027 - 0.052 - 0.107
15 - 0.001 - 0.010 - 0.027 - 0.052 - 0.107
17 - 0.001 - 0.010 - 0.027 - 0.052 - 0.107
 9 - 0.001 - 0.010 - 0.027 - 0.052 - 0.107
14 - 0.001 - 0.010 - 0.027 - 0.052 - 0.107

In [24]:
max_occurance_percentage

np.float64(0.7641866330390921)

## Apply

In [25]:
info_columns = [
    'type', 'rotations', 'turner1', 'turner2', 'skill', 'turntable',
    'bodyRotations', 'hands', 'feet', 'sloppy', 'hard2see', 'fault',
    'backwards'
]

In [26]:
N = 7
balanced_skills = pd.DataFrame(columns=train_gen.Skills.columns)
for col in info_columns:
    series_normalized_occurances = train_gen.Skills[col].value_counts(normalize=True)
    max_occurance_percentage = series_normalized_occurances.iloc[0]

    for index, value in series_normalized_occurances.items():
        if value == max_occurance_percentage:
            continue
        rounded_multiplier = int(np.round(get_multiplier(value, max_occurance_percentage, N=7)))
        extra_skills = [train_gen.Skills[train_gen.Skills[col] == index] for _ in range(rounded_multiplier)]
        extra_skills.append(balanced_skills)
        balanced_skills = pd.concat(extra_skills, ignore_index=True)

In [27]:
len(balanced_skills)

17488

In [28]:
balanced_skills["turntable"].value_counts(normalize=True)

turntable
0    0.884892
1    0.075595
2    0.039513
Name: proportion, dtype: float64