In [1]:
from utils_misc import pickle_load_or_create, pickle_save
from utils_cv2 import get_video_length, get_random_frame
from DataRepository import DataRepository
from DataGeneratorFrames import DataGeneratorRectangles
import numpy as np
import pandas as pd
import sys

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: opencv-python in /home/miked/.local/lib/python3.10/site-packages (4.9.0.80)
Requirement already satisfied: pandas in /home/miked/.local/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: numpy>=1.21.2 in /home/miked/.local/lib/python3.10/site-packages (from opencv-python) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/miked/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /home/miked/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /home/miked/.local/lib/python3.10/site-packages (2.0.29)
Requirement already satisfied: PyMySQL in /home/miked/.local/lib/python3.10/site-packages (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/miked/.local/lib/python3.10/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/miked/.local/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)

2024-07-24 13:01:32.045350: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-07-24 13:01:32.098888: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-07-24 13:01:32.855073: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
repo = DataRepository()

connection established

In [3]:
gen = DataGeneratorRectangles(batch_size=16, train=True)

connection established
DataGeneratorSkillBorders init done
on_epoch_end_called
     videoID  batch_nr_video  frame_amount  batch_id
0          1              39            16         0
1          7              18            16         1
2          6              55            16         2
3          4              86            16         3
4          5              52            16         4
..       ...             ...           ...       ...
656        4               5            16       656
657        7              42            16       657
658        5             132            16       658
659        5              45            16       659
660        6              34            16       660

[661 rows x 4 columns]

In [4]:
repo.get_batch_order_frames(16)

     videoID  batch_nr_video  frame_amount  batch_id
0          1              40            16         0
1          3              87            16         1
2          3               5            16         2
3          3              93             1         3
4          5              66            16         4
..       ...             ...           ...       ...
656        5              86            16       656
657        2              47            16       657
658        5             129            16       658
659        3              69            16       659
660        4              72            16       660

[661 rows x 4 columns]

In [5]:
repo.get_rectangles_from_batch(3,20,16)

,videoID,frameNr,label,manual_insert,rect_center_x,rect_center_y,rect_size
0,3,321,2,1,0.619444,0.566146,0.832972
1,3,322,2,1,0.619444,0.566146,0.832972
2,3,323,2,1,0.619444,0.566146,0.832972
3,3,324,2,1,0.619444,0.566146,0.832972
4,3,325,2,1,0.619444,0.566146,0.832972
5,3,326,2,1,0.619444,0.566146,0.832972
6,3,327,2,1,0.619444,0.566146,0.832972
7,3,328,2,1,0.619444,0.566146,0.832972
8,3,329,2,1,0.619444,0.566146,0.832972
9,3,330,3,1,0.619444,0.566146,0.832972
10,3,331,3,1,0.619444,0.566146,0.832972
11,3,332,1,1,0.619444,0.566146,0.832972
12,3,333,2,1,0.619444,0.566146,0.832972
13,3,334,2,1,0.619444,0.566146,0.832972
14,3,335,2,1,0.619444,0.566146,0.832972
15,3,336,2,1,0.619444,0.566146,0.832972

In [6]:
# TODO : fix idx
repo.get_borderlabels_batch(3,20,16)

    frameNr  label
0       320      2
1       321      2
2       322      2
3       323      2
4       324      2
5       325      2
6       326      2
7       327      2
8       328      2
9       329      2
10      330      3
11      331      3
12      332      1
13      333      2
14      334      2
15      335      2

In [7]:
# Video 6, batch 55 is korter
gen.batch_order.loc[69]

videoID             4
batch_nr_video    127
frame_amount       16
batch_id           69
Name: 69, dtype: int64

In [8]:
%%time
for i in np.arange(10):
    if gen.__getitem__(i)[0].shape[0] < 16:
        print(i)

 __getitem__, batch_nr 0 train is: True
 __getitem__, batch_nr 1 train is: True
 __getitem__, batch_nr 2 train is: True
 __getitem__, batch_nr 3 train is: True
 __getitem__, batch_nr 4 train is: True
 __getitem__, batch_nr 5 train is: True
 __getitem__, batch_nr 6 train is: True
 __getitem__, batch_nr 7 train is: True
 __getitem__, batch_nr 8 train is: True
 __getitem__, batch_nr 9 train is: True
CPU times: user 13 s, sys: 296 ms, total: 13.3 s
Wall time: 3.29 s

In [9]:
# Vid 7, batch 83 = 12 frames

In [10]:
gen.batch_order[(gen.batch_order['videoID'] == 7) & (gen.batch_order['batch_nr_video'] == 83)]

     videoID  batch_nr_video  frame_amount  batch_id
343        7              83            12       343

In [11]:
X, y = gen.__getitem__(646)

 __getitem__, batch_nr 646 train is: True

In [12]:
X.shape

(16, 128, 128, 3)

In [13]:
y.shape

(16, 3)

In [15]:
np.expand_dims(y, axis=0).shape

(1, 16, 3)

In [17]:
repo.get_rectangles_from_batch(2,36,32)

,videoID,frameNr,label,manual_insert,rect_center_x,rect_center_y,rect_size
0,2,1153,2,1,None,None,None
1,2,1154,2,1,None,None,None
2,2,1155,2,1,None,None,None
3,2,1156,2,1,None,None,None
4,2,1157,2,1,None,None,None
5,2,1158,2,1,None,None,None
6,2,1159,2,1,None,None,None
7,2,1160,2,1,None,None,None
8,2,1161,2,1,None,None,None
9,2,1162,2,1,None,None,None
10,2,1163,2,1,None,None,None
11,2,1164,2,1,None,None,None
12,2,1165,2,1,None,None,None
13,2,1166,2,1,None,None,None
14,2,1167,2,1,None,None,None
15,2,1168,2,1,None,None,None
16,2,1169,2,1,None,None,None
17,2,1170,2,1,None,None,None
18,2,1171,2,1,None,None,None
19,2,1172,2,1,None,None,None
20,2,1173,2,1,None,None,None
21,2,1174,2,1,None,None,None
22,2,1175,2,1,None,None,None
23,2,1176,2,1,None,None,None
24,2,1177,2,1,None,None,None
25,2,1178,2,1,None,None,None
26,2,1179,2,1,None,None,None
27,2,1180,2,1,None,None,None
28,2,1181,2,1,None,None,None
29,2,1182,2,1,None,None,None
30,2,1183,2,1,None,None,None
31,2,1184,2,1,None,None,None